.edit-page {
  .form {

    .button {
      text-align: center;
    }

    .inline.field label {
      width: 170px;
      text-align: right;
    }

    .text-area {
      display: inline-block;
      width: 290px;
    }
  }
}