@import "src/theme/variables.scss";

.group-page {

  .menu {
    font-size: 12px;
  }

  .group-menu {
    .menu .active.item {
      background-color: $background-color;
    }
  }

  .group-search {
    padding: 7px;
    border-bottom: 1px solid $background-color-3;
  }
}