@import "src/theme/variables.scss";

.group-page {
  .menu {
    font-size: 12px;
  }

  .group-menu {
    .menu .active.item {
      background-color: $background-color;
    }
  }

  .group-search {
    padding: 7px;
    border-bottom: 1px solid $background-color-3;
  }

  .group__button {
    margin-left: auto;
    padding: 10px;
  }
}

.create-group-button {
  background-color: $color-primary-1 !important;
  color: #FFFFFF !important;
  font-size: $default-font-size !important;
  font-weight: 400 !important;
}

.create-group-button:hover {
  opacity: .85;
}

.exit-button {
  font-size: $default-font-size !important;
  font-weight: 400 !important;
}