@import "src/theme/variables.scss";

.app .home-page {
  padding-top: 20px;
  height: calc(100vh - #{$navbar-height});
  display: flex;
  justify-content: space-around;
  min-width: 960px;

  .home {

    &__promo {
      min-width: 540px;
      height: 100%;
      padding-top: 170px;

      .sub {
        text-align: left;
        font-size: 18px;
        margin-top: 10px;
      }
    }

    &__auth {
      min-width: 320px;
      height: 100%;
    }
  }
}
