$color-primary-1: rgb(74, 118, 168);
$color-primary-1-active: rgb(42, 88, 133);
$background-color: rgb(237, 238, 240);
$background-color-2: rgba(211, 217, 222, 0.5);
$background-color-3: rgb(220, 225, 230);
$default-font-size: 12.5px;
$font-color-secondary: #828282;

$button-secondary-text-color: #55677d;
$button-secondary-background-color: #e5ebf1;

// size
$navbar-height: 43px;