.app .sign-up {

  .ui.segment.clndr-calendars-segment {
    bottom: 100%;
  }

  .register-button {
    background-color: #4bb34b;
    color: #FFFFFF;
  }

  &__date-picker {

    .field {
      width: 100%;
    }
  }
}