.group-avatar {
  width: 60px !important;
  height: 60px !important;
}

.group-header-bar {
  display: flex;
  align-items: center;
}

.group__button {
  margin-left: auto !important;
}

.group-header {;
  margin-left: 11px !important;
}