@import "src/theme/variables.scss";

.app {
  .app-navbar-wrapper {
    position: relative;
    width: 100%;
    height: $navbar-height;

    .app-navbar {
      background-color: $color-primary-1;

      &__logo {
        fill: white;
        width: 34px;
        height: 34px;
      }

      &__profile {
        height: 100%;

        &-name {
          color: #FFFFFF;
          font-weight: bold;
          font-size: $default-font-size;
          padding: 0 10px;
        }

        &:hover {
          background-color: $color-primary-1-active !important;
        }
      }

      &__dropdown {
        .icon {
          margin-left: 4px;
          color: #FFFFFF;
        }
      }

      .menu .item {
        width: 150px;
      }
    }
  }
}
