@import "src/theme/variables.scss";

body {
  margin: 0;
  background-color: $background-color;
  overflow-x: auto;
}

.page-layout {
  padding-top: 44px;
  min-width: 960px;
}

.app .primary-button,
.app .primary-button:hover,
.app .primary-button:active,
.app .primary-button:focus {
  background-color: $color-primary-1;
  color: #FFFFFF;
  font-size: $default-font-size;
  font-weight: 400;
}

.app .primary-button:hover {
  opacity: .85;
}

.app .secondary-button,
.app .secondary-button:hover,
.app .secondary-button:active,
.app .secondary-button:focus {
  color: $button-secondary-text-color !important;
  background-color: $button-secondary-background-color !important;
  font-size: $default-font-size;
  font-weight: 400;
  text-align: center;
}


@media only screen and (min-width: 1200px) {
  .app .ui.container {
    width: 960px;
  }
}